@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 20px;">
    <img src="~/images/ril-logo.png" alt="Logo" class="mx-auto d-block mt-3 mb-3" style="width: 180px; height:auto;" />
    <h1 class="display-4">Welcome</h1>
    <p>TaskManager lets you create, update, and track tasks with ease—stay organized and in control every step of the way.</p>
</div>
